.testimonial_details {
    width: 350px;
    height: 250px;
    padding: 3.5rem 2rem 3.125rem 2rem;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.1);
    color: #5e6576;
    position: ab;
}

.quoteicon {
    top: -80px;
    position: relative;
    color: #0092FF;
}

.quoteicon .MuiSvgIcon-root {
    font-size: 60px;
}

.para {
    top: -80px;
    position: relative;
}



/* MEDIA QUERIES */

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 425px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (min-width: 768px) {
    .testimonial_details {
        width: 694px;
        height: 228px;
    }
}

@media only screen and (min-width: 992px) {
    .testimonial_details {
        width: 296px;
        height: 280px;
    }
}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1200px) {

    .testimonial_details {
        width: 356px;
        height: 256px;
    }
}

@media only screen and (min-width: 1366px) {}

@media only screen and (min-width: 1440px) {}

@media only screen and (min-width: 1600px) {}

@media only screen and (min-width: 1920px) {}